.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  /* padding-left: var(--spacing);
  padding-right: var(--spacing); */
  width: 100%;
  /* background-image: linear-gradient(
    0deg,
    hsla(340, 10%, 6%, 0.9) 0%,
    hsla(340, 10%, 6%, 0.9) 50%,
    hsla(340, 10%, 6%, 0.3) 75%,
    hsla(340, 10%, 6%, 0.1) 80%,
    hsla(340, 10%, 6%, 0.05) 90%,
    hsla(340, 10%, 6%, 0) 100%
  ); */
  background-color: hsla(340, 10%, 6%, 0.5);
  backdrop-filter: blur(4px);
  border-top: 1px solid var(--color-white);

  display: grid;
  gap: 16px 32px;
  grid-template-columns: 18ch max-content 4fr minmax(200px, 15%);
  grid-template-areas: "track-info controls song-progress volume-control";

  font-family: var(--font-body);
  font-size: 0.9rem;

  overflow: auto;

  transform-origin: bottom;
  animation: slideIn 400ms ease-out;

  @media (--query-tablet) {
    padding-top: 24px;
    padding-bottom: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "song-progress song-progress song-progress"
      "track-info controls volume-control";
  }

  @media (--query-mobile) {
    padding-top: 16px;
    grid-template-columns: 2fr 1fr;
    gap: 8px 0px;
    grid-template-areas:
      "track-info volume-control"
      "song-progress song-progress"
      "controls controls";
  }
}

@keyframes slideIn {
  0% {
    transform: scaleY(0.5);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.pullUp {
  @media (--query-mobile) {
    margin-top: -16px;
  }
}

.trackInfo {
  grid-area: track-info;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-weight: 700;

    @media (--query-mobile) {
      font-size: 0.8rem;
    }
  }

  .artist {
    font-size: 0.8rem;
    font-weight: 500;

    @media (--query-mobile) {
      font-size: 0.7rem;
    }
  }
}

.songProgress {
  grid-area: song-progress;
  display: grid;
  grid-template-columns: 5ch 1fr 5ch;
  width: 100%;
  align-items: center;
  gap: 8px 16px;

  div {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    @media (--query-mobile) {
      grid-column: 1 / 5;
    }
  }

  span {
    display: block;
    grid-column: 4 / 5;
    grid-row: 1 / 1;
    grid-auto-flow: dense;
    font-size: 0.8rem;

    @media (--query-mobile) {
      grid-row: 2 / 3;
    }
    &:first-of-type {
      grid-column: 1 / 2;
      justify-self: end;

      @media (--query-tablet) {
        justify-self: start;
      }

      @media (--query-mobile) {
        justify-self: start;
        grid-row: 2 / 3;
      }
    }
  }
}

.controlGroup,
.volumeControlGroup {
  display: flex;
  gap: 8px;
  align-items: center;

  flex-basis: max-content;
  flex-shrink: 0;

  justify-self: end;
}

.controlGroup {
  grid-area: controls;
  justify-self: center;
}

.volumeControlGroup {
  grid-area: volume-control;
}

.iconButton {
  --btn-resize: 0px;
  --btn-size: 64px;
  --btn-computed-size: calc(var(--btn-size) - var(--btn-resize));

  appearance: none;
  position: relative;
  background: none;
  min-width: var(--btn-computed-size);
  min-height: var(--btn-computed-size);
  /* border: 1px solid var(--color-white); */
  border: none;
  border-radius: 4000px;

  flex-basis: var(--btn-computed-size);
  flex-shrink: 0;
  flex-grow: 0;

  display: grid;
  place-content: center;

  &:disabled {
    svg {
      stroke: var(--color-gray-600);
    }
  }

  &:hover {
    &:not(:disabled) {
      background-color: var(--color-white);
      svg {
        stroke: black;
      }
    }
  }

  @media (--query-mobile) {
    --btn-size: 48px;
  }
}

/* Progress bars */
.progressBar {
  --progress-width: 0.1;
  --buffered-width: 0.1;

  --track-color: var(--color-white);
  --thumb-color: var(--color-white);
  --thumb-height: 0.5rem;
  --thumb-width: 0.5rem;
  --track-heigth: 0.3rem;
  --track-width: 100%;

  position: relative;
  background-color: var(--color-gray-700);
  width: var(--track-width);
  height: var(--track-heigth);
  border-radius: 1000px 1000px 1000px 1000px;

  /* Barra del progreso */
  &::after {
    content: "";
    height: var(--track-heigth);
    width: calc(var(--progress-width) * 100%);
    background-color: var(--color-white);
    border-radius: 1000px 1000px 1000px 1000px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    &::after {
      background-color: var(--color-primary);
    }
  }

  /* Barra del buffer */
  &::before {
    width: var(--track-width);
    height: var(--track-heigth);
    transform: scaleX(var(--buffered-width));
    transform-origin: left;
    background-color: var(--color-gray-400);
    border-radius: 1000px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
}

.progressBar input[type="range"],
.volumeProgressBar input[type="range"] {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: var(--track-width);
  height: 1rem;
  background-color: transparent;
  z-index: 2;
  border-radius: 1000px 1000px 1000px 1000px;
  transform: translateY(-35%);

  &::-moz-range-thumb {
    opacity: 0;
    appearance: none;
    -moz-appearance: none;
    background-color: var(--thumb-color);
    z-index: 10;
    border: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    border-radius: 1000px;
  }
  &::-webkit-slider-thumb {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--thumb-color);
    height: var(--thumb-height);
    width: var(--thumb-width);
    z-index: 10;
    border-radius: 1000px;
  }

  &:hover {
    &::-moz-range-thumb {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      opacity: 1;
    }
  }
}

.volumeProgressBar {
  width: 100%;

  &.vertical {
    width: 120px;
  }
}

.verticalSliderWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  transform: rotate(-90deg);
  background-color: var(--color-black);
  border-radius: 1000px;
  border: 1px solid var(--color-white);
  padding: 8px 8px 8px 32px;
  svg {
    transform: rotate(90deg);
  }
}

.volumeProgressBar input[type="range"] {
  --thumb-color: var(--color-white);
  --thumb-height: 0.5rem;
  --thumb-width: 0.5rem;
  --track-width: 100%;

  height: 0.3rem;
  position: static;
  transform: translate(0);
  border-radius: 1000px 1000px 1000px 1000px;

  background: linear-gradient(var(--color-white), var(--color-white)) 0% /
      var(--value) no-repeat,
    var(--color-gray-400);

  &::after {
    padding: 16px 0px;
    border-radius: 1000px 1000px 1000px 1000px;
  }

  &::-moz-range-progress {
    background-color: var(--color-white);
    border-radius: 1000px 1000px 1000px 1000px;
  }

  &:hover {
    background: linear-gradient(var(--color-primary), var(--color-primary)) 0% /
        var(--value) no-repeat,
      var(--color-gray-400);

    &::-moz-range-progress {
      background-color: var(--color-primary);
    }
  }
}
